APP_NAME=LaragentoTest
APP_ENV=testing
APP_KEY=base64:M9frE63s1CLDCb4+gWPvqU+p4x7enhRMrH5maoegRqk=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DBT_DATABASE=laragento_test
DBT_USERNAME=laragento_test
DBT_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=array
SESSION_DRIVER=array
QUEUE_DRIVER=sync