<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Catalog">
            <directory suffix="Test.php">./Laragento/Catalog/tests/</directory>
        </testsuite>

        <testsuite name="Checkout">
            <directory suffix="Test.php">./Laragento/Checkout/tests/</directory>
        </testsuite>

        <testsuite name="Core">
            <directory suffix="Test.php">.//Laragento/Core/tests/</directory>
        </testsuite>

        <testsuite name="Customer">
            <directory suffix="Test.php">./Laragento/Customer/tests/</directory>
        </testsuite>


        <testsuite name="CustomerImportExport">
            <directory suffix="Test.php">./Laragento/CustomerImportExport/tests/</directory>
        </testsuite>

        <testsuite name="Dev">
            <directory suffix="Test.php">./Laragento/Dev/tests/</directory>
        </testsuite>


        <testsuite name="Eav">
            <directory suffix="Test.php">./Laragento/Eav/tests/</directory>
        </testsuite>

        <testsuite name="ImportExport">
            <directory suffix="Test.php">./Laragento/ImportExport/tests/</directory>
        </testsuite>

        <testsuite name="MediaStorage">
            <directory suffix="Test.php">./Laragento/MediaStorage/tests/</directory>
        </testsuite>

        <testsuite name="Quote">
            <directory suffix="Test.php">./Laragento/Quote/tests/</directory>
        </testsuite>

        <testsuite name="Rating">
            <directory suffix="Test.php">./Laragento/Rating/tests/</directory>
        </testsuite>

        <testsuite name="Review">
            <directory suffix="Test.php">./Laragento/Review/tests/</directory>
        </testsuite>

        <testsuite name="Store">
            <directory suffix="Test.php">./Laragento/Store/tests/</directory>
        </testsuite>

        <testsuite name="XmlChunk">
            <directory suffix="Test.php">./Laragento/XmlChunk/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
</phpunit>
